.button_add {
  background-color: #00adb5;
  color: white;
  padding: 5px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 70%;
  box-shadow: 0 2px 4px #00adb5;
  border: solid 2px #00adb5;
  cursor: pointer;
  transition: all 0.2s ease;
  float: right;
}

.button_add:active {
  background-color: #eeeeee;
  box-shadow: 0 0 2px #7895b2;
  transform: translateY(2px);
}
